.about {
    &__container {
    }
    &__inner {
        padding: 30px 40px;
        border-radius: 30px;
        background-color: $white;
        display: flex;
        gap: 0 22px;
        justify-content: space-between;
    }
    &__right {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__left {
        min-height: 367px;
        height: auto;
        border-radius: 20px;
        position: relative;
        flex: 1 1 50%;

        img {
            border-radius: 20px;
        }
    }

    &__hg {
        display: flex;
        align-items: center;
        gap: 0 50px;
    }

    &__title {
        height: 58px;
    }

    &__logo {
        object-fit: cover;
        object-position: center;
    }

    @media screen and (max-width: 679px) {
        &__inner {
            flex-direction: column;
            padding: 30px 20px;

            gap: 30px 0;
        }
        &__left {
            min-height: 143px;

            img {
                object-position: center top;
            }
        }
    }
}
