.header {
    background-color: transparent;
    padding: 69px 0 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #f4f7fc;
    transition: 0.3s all;
    &.scroll {
        box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    }
    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
        @media screen and (max-width: 480px) {
            width: 95px;
            height: 20px;
            svg {
                width: 95px;
                height: 20px;
            }
        }
    }

    &__list {
        display: flex;
        gap: 0 38px;
        @media screen and (max-width: 1100px) {
            gap: 0 20px;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__list-item {
        border-radius: 10px;

        background-color: transparent;
        transition: 0.3s all;
    }
    &__list-link {
        padding: 10px 20px;
        background-color: transparent;
        border-radius: 10px;
        &:hover {
            background: #90d125;

            color: $white;
        }
    }
    &__list-link,
    &__tel {
        font-size: 16px;
        color: $black;

        transition: 0.3s all;
    }

    &__tel {
        margin: 0 48px;
        font-weight: 500;
        position: relative;
        display: inline-block;
        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 2px;
            background-color: $green;
            // opacity: 0;
            width: 0;

            transition: 0.3s all;
        }
        &:hover {
            color: $green;
            &::after {
                width: 100%;
            }
        }
        @media screen and (max-width: 1100px) {
            margin: 0 20px;
        }
    }

    &__social {
        display: flex;
        gap: 0 10px;
    }

    &__social-item {
        transition: 0.3s all;
        path {
            transition: 0.3s all;
        }
        &:hover {
            path {
                fill: $green;
                // stroke: $black;
            }
        }
    }

    // &__social-link {
    // }

    &__button {
        height: 56px;
        padding: 10px 20px;
        margin-left: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: #282828;
        }
    }

    &__menu-mobile {
        width: 56px;
        height: 56px;

        border-radius: 10px;
        background: #1e1e1e;

        margin-left: 27px;
        display: none;
        align-items: center;
        justify-content: center;
        svg {
            pointer-events: none;
        }
        @media screen and (max-width: 1024px) {
            display: flex;
        }
    }

    @media screen and (max-width: 768px) {
        &__logo {
            margin: 0;
        }
        &__tel {
            margin: 0;
        }
        &__container {
            justify-content: space-between;
        }
        &__social,
        &__button {
            display: none;
        }
    }

    @media screen and (max-width: 480px){
        &__menu-mobile{
            margin-left: 0;
        }
    }
}
