.promo {
    margin-top: 157px;
    &__container {
        display: flex;
        gap: 0 20px;
    }
    &__left {
        padding: 60px 30px;
        background-color: $white;
    }
    &__left,
    &__right {
        max-width: 50%;
        width: 100%;
        border-radius: 30px;
        min-height: 412px;
    }

    &__title {
        margin-bottom: 20px;
        b {
            font-weight: 500;
            color: $green;
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__links {
        display: flex;
        gap: 0 20px;
    }

    &__link {
        flex: 1 1 50%;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s all;
        background-color: transparent;
        &:first-child {
            border: 1px solid $green;
            &:hover {
                border: 1px solid #282828;
                background: #282828;
            }
        }
        &:last-child:hover {
            color: $white;
            background-color: $green;
            border: 1px solid $green;
        }
    }

    &__right {
        padding: 30px;
        background-color: #90d125;
        position: relative;
        overflow: hidden;
    }

    &__right-text,
    &__right-subtext {
        display: inline-block;
        color: $white;
        background-color: $black;

        text-transform: uppercase;
    }
    &__right-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 2;
    }
    &__right-text {
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;

        margin-bottom: 5px;
    }

    &__right-subtext {
        border-radius: 8px;
        padding: 5px 10px;
        b {
            color: $green;
        }
    }

    &__right-item {
        position: absolute;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        &:first-of-type {
            bottom: 0;
            left: 0;
            // transform: translate(-10px, 10px);
        }
        &:nth-of-type(2) {
            top: 0;
            right: 0;
        }
        &:last-of-type {
            bottom: 0;
            right: 0;
        }
    }

    @media screen and (max-width: 1024px) {
        &__right-item {
            &:nth-of-type(2) {
                top: 0;
                right: -86px;
            }
            &:first-of-type {
                bottom: 12px;
                left: -89px;
            }
            &:last-of-type {
                bottom: -66px;
                right: -57px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        &__left {
            max-width: calc(100% - 223px);
            width: 100%;
        }
        &__right {
            max-width: 223px;
            width: 100%;
            padding: 30px;
        }
        &__right-text {
            width: 100%;
            font-size: 13px;
        }
        &__right-subtext {
            font-size: 12px;
        }
        &__right-item {
            &:nth-of-type(2) {
                display: none;
            }
            &:first-of-type {
                bottom: -129px;
                left: -135px;
            }
            &:last-of-type {
                bottom: -89px;
                right: -180px;
            }
        }
    }
    @media screen and (max-width: 717px) {
        &__right {
            height: 237px;
            min-height: auto;
            padding: 20px 10px;
        }
        &__right-text {
            width: auto;
            font-size: 20px;
        }
        &__right-subtext {
            font-size: 14px;
        }
        &__right-item {
            &:nth-of-type(2) {
                display: block;
                top: -20px;
                right: -50px;
                transform: rotate(15deg);
            }
            &:first-of-type {
                transform: rotate(15deg);
                bottom: -150px;
                left: -106px;
            }
            &:last-of-type {
                bottom: -210px;
                right: -175px;
            }
        }
        &__left,
        &__right {
            max-width: 100%;
        }
        &__container {
            gap: 20px 0;
            flex-direction: column;
        }
    }
    @media screen and (max-width: 457px) {
        &__links {
            flex-direction: column;
            gap: 20px 0;
        }
        &__link {
            height: 56px;
            flex: auto;
        }
        &__left {
            padding: 40px 20px;
        }
        &__right-item {
            &:nth-of-type(2) {
                top: -9px;
                right: -141px;
            }
        }
    }
}
